<!-- 
 perception.launch

 Copyright (C) 2015 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

  <!-- The nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="perception_nodelet"  args="manager" ns="perception"/>

  <!-- The camera nodelet -->
  <node pkg="nodelet" type="nodelet" name="camera" args="load cv_camera/CvCameraNodelet perception_nodelet" ns="perception">
    <rosparam file="$(find geduino_perception)/config/cv_camera_params.yaml" command="load" />
    <remap from="/perception/camera/image_raw" to="/perception/camera/image"/>
  </node>

  <!-- The qr detector nodelet -->
  <node pkg="nodelet" type="nodelet" name="qr_detector" args="load zxing_cv/QRDetectorNodelet perception_nodelet" ns="perception">
    <rosparam file="$(find geduino_perception)/config/qr_detector_params.yaml" command="load" />
    <remap from="/camera/image" to="camera/image"/>
  </node>

</launch>
