#!/usr/bin/env python

"""
 RangeLayer.cfg

 Copyright (C) 2016 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
"""

PACKAGE = "range_layer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('enabled', bool_t, 0, 'Whether to apply this plugin or not', True)
gen.add('readings_timeout', double_t, 0, 'The timeout after which a range message is ignored', 0.0, 0.0)
gen.add('tf_timeout', double_t, 0, 'The timeout used asking for transformation from global frame to sensor frame', 0.1, 0.0)

exit(gen.generate(PACKAGE, PACKAGE, "RangeLayer"))
