<!-- 
 geduino_configuration.launch

 Copyright (C) 2015 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

  <!-- The Geduino static transformation -->
  <include file="$(find geduino_navigation)/launch/geduino_static_transformation.launch" />

  <!-- The serial node -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true">
    <param name="port" value="/dev/ttymxc3" />
    <param name="baud" value="115200" />
  </node>

  <!-- The RPLidar node -->
  <node pkg="rplidar_ros" type="rplidarNode" name="rplidar_node" output="screen" respawn="true">
    <param name="serial_port" value="/dev/ttymxc4" />
    <param name="frame_id" value="base_laser" />
  </node>

  <!-- The MD25 odometry node -->
  <node pkg="md25" type="odometry_node" name="odometry_node" output="screen" required="true">
    <rosparam file="$(find geduino_navigation)/config/odometry_common_params.yaml" command="load" />
    <rosparam file="$(find geduino_navigation)/config/odometry_params.yaml" command="load" />
  </node>    

  <!-- The MD25 vel2cmd node -->
  <node pkg="md25" type="vel2speeds_node" name="vel2speeds_node" output="screen" required="true">
    <rosparam file="$(find geduino_navigation)/config/odometry_common_params.yaml" command="load" />
    <rosparam file="$(find geduino_navigation)/config/vel2speeds_params.yaml" command="load" />
  </node>    

  <!-- The MPU9150 imu node -->
  <node pkg="mpu9150" type="imu_node" name="imu_node" output="screen" respawn="true">
    <rosparam file="$(find geduino_navigation)/config/imu_params.yaml" command="load" />
  </node>

  <!-- The camera node node -->
  <node pkg="geduino_perception" type="camera_node" name="camera_node" output="screen" respawn="true">
    <rosparam file="$(find geduino_navigation)/config/camera_params.yaml" command="load" />
  </node>

</launch>
