<!-- 
 navigation.launch

 Copyright (C) 2015 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

  <!-- The gmapping node -->
  <node pkg="gmapping" type="slam_gmapping" respawn="false" name="gmapping" required="true" output="screen">
    <rosparam file="$(find geduino_navigation)/config/gmapping_params.yaml" command="load" />  
  </node>

  <!-- The move base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" required="true">
    <remap from="/odom" to="/odom_filtered" />
    <rosparam file="$(find geduino_navigation)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find geduino_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find geduino_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find geduino_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find geduino_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find geduino_navigation)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
