<?xml version="1.0"?>
<robot name="geduino">

  <!-- The base link -->
  <link name="base_link">

    <!-- The base -->
    <visual>
      <geometry>
        <cylinder length="0.10" radius="0.15"/>
      </geometry>
      <origin xyz="0 0 0.06"/>
      <material name="dark_gray">
        <color rgba="0.43 0.68 0.69 1"/>
      </material>       
    </visual>

    <!-- The left tire -->
    <visual>
      <geometry>
        <cylinder length="0.026" radius="0.05"/>
      </geometry>
      <origin xyz="0 -0.166 0.05" rpy="1.57 0 0"/>
    </visual>

    <!-- The rigth tire -->
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.05"/>
      </geometry>
      <origin xyz="0 0.166 0.05" rpy="-1.57 0 0"/>
    </visual>

  </link>

  <!-- The base laser -->
  <link name="base_laser">

    <visual>
      <geometry>
         <cylinder length="0.06" radius="0.035"/>
      </geometry>
      <origin xyz="0 0 0.03"/>
      <material name="black">
         <color rgba="0 0 0 1"/>
      </material>
    </visual>

  </link>

  <!-- The base left range -->
  <link name="base_left_range">
  </link>

  <!-- The base center range -->
  <link name="base_center_range">
  </link>

  <!-- The base right range -->
  <link name="base_right_range">
  </link>

  <!-- The base imu -->
  <link name="base_imu">
  </link>

  <!-- The base camera -->
  <link name="base_camera">
  </link>

  <!-- The base_link -> base_laser joint -->
  <joint name="base_link_to_base_laser" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0.095 -0.026 0.15" rpy="3.1415 0 1.5707"/>
  </joint>

  <!-- The base_link -> base_left_range joint -->
  <joint name="base_link_to_base_left_range" type="fixed">
    <parent link="base_link"/>
    <child link="base_left_range"/>
    <origin xyz="0.097 0.097 0.055" rpy="0 0 0.7853"/>
  </joint>

  <!-- The base_link -> base_center_range joint -->
  <joint name="base_link_to_base_center_range" type="fixed">
    <parent link="base_link"/>
    <child link="base_center_range"/>
    <origin xyz="0.137 0 0.055" rpy="0 0 0"/>
  </joint>

  <!-- The base_link -> base_right_range joint -->
  <joint name="base_link_to_base_right_range" type="fixed">
    <parent link="base_link"/>
    <child link="base_right_range"/>
    <origin xyz="0.097 -0.097 0.055" rpy="0 0 -0.7853"/>
  </joint>

  <!-- The base_link -> base_imu joint -->
  <joint name="base_link_to_base_imu" type="fixed">
    <parent link="base_link"/>
    <child link="base_imu"/>
    <origin xyz="-0.07 -0.035 0.095" rpy="0 0 1.5707"/>
  </joint>

  <!-- The base_link -> base_camera joint -->
  <joint name="base_link_to_base_camera" type="fixed">
    <parent link="base_link"/>
    <child link="base_camera"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- To be set according to final camera position -->
  </joint>

</robot>
