<!-- 
 configuration.launch

 Copyright (C) 2015 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

  <!-- The Geduino description -->
  <param name="robot_description" textfile="$(find geduino)/urdf/geduino.urdf" />

  <!-- The robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state" />

  <!-- The ekf localization node -->
  <node pkg="robot_localization" type="ekf_localization_node" respawn="false" name="ekf" output="screen" >
    <remap from="odometry/filtered" to="odom_filtered" />
    <param name="frequency" value="10" />
    <param name="two_d_mode" value="true" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_link" />
    <param name="world_frame" value="odom" />
    <param name="imu0" value="/imu"/>
    <param name="odom0" value="/odom"/>
    <param name="imu0_differential" value="true" />
    <param name="odom0_differential" value="false" />
    <!--                           X,     Y,     Z,
                                   Roll,  Pitch, Yaw,
                                   Vx,    Vy,    Vz,
                                   Vroll, Vpitch,Vyaw,
                                   Ax,    Ay,    Az 
    -->
    <rosparam param="imu0_config">[false, false, false,
                                   false, false, true,
                                   false, false, false,
                                   false, false, true,
                                   false, false, false]</rosparam>
    <rosparam param="odom0_config">[true, true, false,
                                    false, false, true,
                                    true, true, false,
                                    false, false, true,
                                    false, false, false]</rosparam>
  </node>

  <!-- The RPLidar node -->
  <node pkg="rplidar" type="rplidar_node" name="rplidar" output="screen" respawn="true">
    <param name="serial_port" value="/dev/ttymxc4" />
    <param name="frame_id" value="base_laser" />
    <param name="gpio_num" value="40" /> 
 </node>

  <!-- The Shield node -->
  <node pkg="rosserial_python" type="serial_node.py" name="shield" output="screen" respawn="true">
    <param name="port" value="/dev/ttymxc3" />
    <param name="baud" value="115200" />
 </node>

  <!-- The MD25 -->
  <include file="$(find md25)/launch/md25.launch" />

  <!-- The MPU9150 -->
  <include file="$(find mpu9150)/launch/mpu9150.launch" />

  <!-- The perception-->
  <include file="$(find geduino_perception)/launch/perception.launch" />

</launch>
