<!-- 
 rtabmap.launch

 Copyright (C) 2017 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

	<group ns="rtabmap">

		<!-- The Rtabmap node -->
		<node machine="geduino1" name="rtabmap" pkg="rtabmap_ros" type="rtabmap" respawn="true" output="log" args="--delete_db_on_start">

			<remap from="odom" to="/odometry/odom"/>
                        <remap from="scan" to="/sensor/scan"/>
			<remap from="rgb/image" to="/camera/rgb/image_rectified"/>
			<remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
			<remap from="depth/image" to="/camera/depth_registered/image_rectified"/>

			<rosparam file="$(find geduino)/config/rtabmap_params.yaml" command="load" />

		</node>

	</group>

</launch>
