<!--
 sensor.launch

 Copyright (C) 2018 Alessandro Francescon

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

    <group ns="sensor">

        <!-- The RPLidar node -->
        <node machine="geduino2" pkg="rplidar" type="rplidar_node" name="rplidar" respawn="true" output="log">
        <rosparam file="$(find geduino)/config/rplidar_params.yaml" command="load"/>
        </node>

        <!-- The Shield node -->
        <node machine="geduino2" pkg="rosserial_python" type="serial_node.py" name="shield" respawn="true" output="log">
        <rosparam file="$(find geduino)/config/shield_params.yaml" command="load"/>
        </node>

    </group>

</launch>
