<!-- 
 system_monitor.launch
 Copyright (C) 2017 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

  <!-- Get the machine name -->
  <arg name="machine_name" default="$(optenv HOSTNAME localhost)"/>

  <rosparam command="load" file="$(find geduino)/config/system_monitor_params.yaml" ns="system_monitor/$(arg machine_name)"/>

  <!-- System Monitor nodes -->
  <group ns="system_monitor/$(arg machine_name)">
    <node name="cpu_monitor" pkg="system_monitor" type="cpu_monitor.py" output="screen" respawn="true"/>
    <node name="hdd_monitor" pkg="system_monitor" type="hdd_monitor.py" output="screen" respawn="true"/>
    <node name="mem_monitor" pkg="system_monitor" type="mem_monitor.py" output="screen" respawn="true"/>
    <node name="ntp_monitor" pkg="system_monitor" type="ntp_monitor.py" output="screen" respawn="true"/>
    <node name="net_monitor" pkg="system_monitor" type="net_monitor.py" output="screen" respawn="true"/>      
  </group>
  
</launch>

